.page-layout {
    padding: 0;

    font-size: 1.5em;
    font-family: "Open Sans Light", Helvetica, Arial, sans-serif;

    background-color: #E3DEDB;
}

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url("../../fonts/OpenSans-Light.ttf")
}