.footer {
    margin: 25px 0 15px 0;
    padding: 15px 20px;

    font-size: 0.9em;

    border-top: 1px solid #BCB3AE;
}

.fb-icon__symbol {
    float: right;

    font-size: 2em;

    color: #22619d;
}

.footer-contacts{
    padding-left:10px;
}

@media all and (max-width: 767px) {
    .footer{
        font-size: 0.5em;
    }
}